<a-scene>
  <a-assets>
    <a-asset-item id="store-obj" src="./assets/obj-model/level1/toy-store-11-store.obj"></a-asset-item>
    <a-asset-item id="store-mtl" src="./assets/obj-model/level1/toy-store-11-store.mtl"></a-asset-item>
    <a-asset-item id="elf-obj" src="./assets/obj-model/level1/toy-store-10-elf.obj"></a-asset-item>
    <a-asset-item id="elf-mtl" src="./assets/obj-model/level1/toy-store-10-elf.mtl"></a-asset-item>
    <a-asset-item id="toy1-obj" src="./assets/obj-model/level1/toy-store-9-toy1.obj"></a-asset-item>
    <a-asset-item id="toy1-mtl" src="./assets/obj-model/level1/toy-store-9-toy1.mtl"></a-asset-item>
    <a-asset-item id="toy2-obj" src="./assets/obj-model/level1/toy-store-2.obj"></a-asset-item>
    <a-asset-item id="toy2-mtl" src="./assets/obj-model/level1/toy-store-2.mtl"></a-asset-item>
    <a-asset-item id="car-obj" src="./assets/obj-model/level1/toy-store-8-car.obj"></a-asset-item>
    <a-asset-item id="car-mtl" src="./assets/obj-model/level1/toy-store-8-car.mtl"></a-asset-item>
    <a-asset-item id="toy3-obj" src="./assets/obj-model/level1/toy-store-7-toy3.obj"></a-asset-item>
    <a-asset-item id="toy3-mtl" src="./assets/obj-model/level1/toy-store-7-toy3.mtl"></a-asset-item>
    <a-asset-item id="toy5-obj" src="./assets/obj-model/level1/toy-store-6-toy5.obj"></a-asset-item>
    <a-asset-item id="toy5-mtl" src="./assets/obj-model/level1/toy-store-6-toy5.mtl"></a-asset-item>
    <a-asset-item id="e-obj" src="./assets/obj-model/level1/toy-store-5-e.obj"></a-asset-item>
    <a-asset-item id="e-mtl" src="./assets/obj-model/level1/toy-store-5-e.mtl"></a-asset-item>
    <a-asset-item id="i-obj" src="./assets/obj-model/level1/toy-store-4-i.obj"></a-asset-item>
    <a-asset-item id="i-mtl" src="./assets/obj-model/level1/toy-store-4-i.mtl"></a-asset-item>
    <a-asset-item id="o-obj" src="./assets/obj-model/level1/toy-store-3-o.obj"></a-asset-item>
    <a-asset-item id="o-mtl" src="./assets/obj-model/level1/toy-store-3-o.mtl"></a-asset-item>
    <a-asset-item id="a-obj" src="./assets/obj-model/level1/toy-store-1-a.obj"></a-asset-item>
    <a-asset-item id="a-mtl" src="./assets/obj-model/level1/toy-store-1-a.mtl"></a-asset-item>
    <a-asset-item id="u-obj" src="./assets/obj-model/level1/toy-store-0-u.obj"></a-asset-item>
    <a-asset-item id="u-mtl" src="./assets/obj-model/level1/toy-store-0-u.mtl"></a-asset-item>
  </a-assets>
  
  <a-entity>
    <a-entity obj-model="obj: #store-obj; mtl: #store-mtl"></a-entity>
    <a-entity obj-model="obj: #a-obj; mtl: #a-mtl"></a-entity>
    <a-entity obj-model="obj: #e-obj; mtl: #e-mtl"></a-entity>
    <a-entity obj-model="obj: #i-obj; mtl: #i-mtl"></a-entity>
    <a-entity obj-model="obj: #o-obj; mtl: #o-mtl"></a-entity>
    <a-entity obj-model="obj: #u-obj; mtl: #u-mtl"></a-entity>
    <a-entity obj-model="obj: #toy1-obj; mtl: #toy1-mtl"></a-entity>
    <a-entity obj-model="obj: #toy2-obj; mtl: #toy2-mtl"></a-entity>
    <a-entity obj-model="obj: #elf-obj; mtl: #elf-mtl" id="elf"></a-entity>
    <a-entity obj-model="obj: #toy3-obj; mtl: #toy3-mtl"></a-entity>
    <a-entity obj-model="obj: #car-obj; mtl: #car-mtl" id="car"></a-entity>
    <a-entity obj-model="obj: #toy5-obj; mtl: #toy4-mtl"></a-entity>
  </a-entity>
  
  <!-- Camara -->
  <a-entity animation="property: position; from: 0 15 60; to: 0 1.8 0; dur: 5000">
    <a-entity camera look-controls wasd-controls>
      <a-cursor id="cursor"></a-cursor>
    </a-entity>
  </a-entity>
  <!-- <a-entity camera look-controls wasd-controls position="0 1.8 0">
    <a-cursor id="cursor"></a-cursor>
  </a-entity> -->

  <!-- Text nivel 1 -->
  <a-entity id="scene"></a-entity>
  
  <!-- <a-entity animation="property: rotation; from: 0 0 0; to: -90 0 0; dur: 2000; delay: 7000">
      <a-box id="level1" opacity="0.8" color="blue" width="3" height="1" depth="0.001"
      position="0 1.5 -2.5"
      text="align: center; value: Iniciar nivel 1; width: 10">
    </a-box>
  </a-entity> -->

  <a-entity id="question"></a-entity>
  
  <!-- Forest -->
  <a-entity environment="preset: forest; skyType: gradient; lighting: point"></a-entity>
</a-scene>