<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Profesores:</h5>
      <table class="table table-hover mt-2 text-center">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Estudiantes</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers">
            <td scope="row">{{teacher.name}}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.students.length}}</td>
            <td>
              <i class="fas fa-search" (click)="selectTeacher(teacher)" data-toggle="modal" data-target="#modalStudent"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Datos profesor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="teacherSelected">
        <p><b>Nombre completo: </b>{{teacherSelected.name}}</p>
        <p><b>Email: </b>{{teacherSelected.email}}</p>
        <p><b>Documento: </b>{{teacherSelected.doc}}</p>
      </div>
    </div>
  </div>
</div>