<a-scene>
  <a-assets>
    <a-asset-item id="mono-obj" src="./assets/obj-model/level3/zoo-0-mono.obj"></a-asset-item>
    <a-asset-item id="mono-mtl" src="./assets/obj-model/level3/zoo-0-mono.mtl"></a-asset-item>
    <a-asset-item id="leon-obj" src="./assets/obj-model/level3/zoo-1-leon.obj"></a-asset-item>
    <a-asset-item id="leon-mtl" src="./assets/obj-model/level3/zoo-1-leon.mtl"></a-asset-item>
    <a-asset-item id="elefante-obj" src="./assets/obj-model/level3/zoo-2-elefante.obj"></a-asset-item>
    <a-asset-item id="elefante-mtl" src="./assets/obj-model/level3/zoo-2-elefante.mtl"></a-asset-item>
    <a-asset-item id="jirafa-obj" src="./assets/obj-model/level3/zoo-3-jirafa.obj"></a-asset-item>
    <a-asset-item id="jirafa-mtl" src="./assets/obj-model/level3/zoo-3-jirafa.mtl"></a-asset-item>
    <a-asset-item id="zoo-obj" src="./assets/obj-model/level3/zoo-5-zoo.obj"></a-asset-item>
    <a-asset-item id="zoo-mtl" src="./assets/obj-model/level3/zoo-5-zoo.mtl"></a-asset-item>
  </a-assets>
  
  <a-entity>
    <a-entity obj-model="obj: #mono-obj; mtl: #mono-mtl"></a-entity>
    <a-entity obj-model="obj: #leon-obj; mtl: #leon-mtl"></a-entity>
    <a-entity obj-model="obj: #elefante-obj; mtl: #elefante-mtl"></a-entity>
    <a-entity obj-model="obj: #jirafa-obj; mtl: #jirafa-mtl"></a-entity>
    <a-entity obj-model="obj: #zoo-obj; mtl: #zoo-mtl"></a-entity>
  </a-entity>
  
  <!-- Camara -->
  <a-entity animation="property: position; from: 0 15 60; to: 0 1.2 4; dur: 5000">
    <a-entity camera look-controls wasd-controls>
      <a-cursor id="cursor"></a-cursor>
    </a-entity>
  </a-entity>
  <!-- <a-entity camera look-controls wasd-controls position="0 1.8 0">
    <a-cursor id="cursor"></a-cursor>
  </a-entity> -->

  <!-- Text nivel 3 -->
  <a-plane id="level1" color="#7BC8A4" width="3" height="1" depth="0.001"
      position="0 1.5 1"
      text="align: center; value: Nivel 3; width: 10"
      animation="property: position; from: 0 1.5 1; to: 0 -1.5 1; dur: 2000; delay: 9000">
  </a-plane>

  <a-entity id="question"></a-entity>
  
  <!-- Forest -->
  <a-entity environment="preset: forest; skyType: gradient; lighting: point"></a-entity>
</a-scene>