<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="mt-4 mb-4">Estudiantes:</h5>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td scope="row">{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>
              <i class="fas fa-search" (click)="selectStudent(student)" data-toggle="modal" data-target="#modalStudent"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Datos estudiante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="studentSelected">
        <p><b>Nombre completo: </b>{{studentSelected.name}}</p>
        <p><b>Email: </b>{{studentSelected.email}}</p>
        <p><b>Documento: </b>{{studentSelected.doc}}</p>
        <table class="table table-hover mt-2 text-center">
          <thead>
            <tr>
              <th scope="col">Nivel</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
              <th scope="col">4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>{{studentSelected.levels.level1.homework1}}</td>
              <td>{{studentSelected.levels.level1.homework2}}</td>
              <td>{{studentSelected.levels.level1.homework3}}</td>
              <td>{{studentSelected.levels.level1.homework4}}</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th scope="col">Nivel</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
              <th scope="col">4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">2</td>
              <td>{{studentSelected.levels.level2.homework5}}</td>
              <td>{{studentSelected.levels.level2.homework6}}</td>
              <td>{{studentSelected.levels.level2.homework7}}</td>
              <td>{{studentSelected.levels.level2.homework8}}</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th scope="col">Nivel</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
              <th scope="col">4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">3</td>
              <td>{{studentSelected.levels.level3.homework9}}</td>
              <td>{{studentSelected.levels.level3.homework10}}</td>
              <td>{{studentSelected.levels.level3.homework11}}</td>
              <td>{{studentSelected.levels.level3.homework12}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>